
Quetzalcoatl/Quetzalcoatl_0_1_3_Samples.hr1
Quetzalcoatl/Presets/Autosave_1.hip
Quetzalcoatl/Presets/Autosave_2.hip
Quetzalcoatl/Presets/Autosave_3.hip
Quetzalcoatl/Presets/Autosave_4.hip
Quetzalcoatl/Presets/Autosave_5.hip
*.hr1
Quetzalcoatl/Expansions/
*.ch1
*.hxi
*.ch1
*.ndx
*.hr2
*.dylib
*.zip
*.exs
*.sxt
*.asd
*.001
*.002
*.004
*.003
*.005
*.vst3
*.hwt
*.hwt
*.DS_Store
*.dat
Quetzalcoatl/DspNetworks/Binaries/.DS_Store
*.hwm
/Quetzalcoatl/Binaries
/Quetzalcoatl/DspNetworks/Binaries
/Quetzalcoatl/AdditionalSourceCode
.DS_Store
/Quetzalcoatl/Moog-Animoog-Patches-master
Quetzalcoatl/DspNetworks/Networks/Phys.xml
/Quetzalcoatl/DspNetworks/ThirdParty
/Quetzalcoatl/DspNetworks/CodeLibrary/faust
/Quetzalcoatl/DspNetworks/Networks copy
Quetzalcoatl/DspNetworks/xfade3 copy.xml
/Quetzalcoatl/Expansionsx
/Quetzalcoatl/af
/Quetzalcoatl copy
*.wav
/Quetzalcoatl/Expansions_offline
/Quetzalcoatl/Expansions_offline
/Quetzalcoatl/Expansions_offline
