
*.ch1
Presets/Autosave_1.hip
Presets/Autosave_2.hip
Presets/Autosave_3.hip
Presets/Autosave_4.hip
Presets/Autosave_5.hip
Quetzalcoatl_0_0_1_Samples.hr1
Quetzalcoatl_0_0_1_Samples.hr2
Quetzalcoatl_0_0_1_Samples.hr3
Presets/Autosave_1.hip
Presets/Autosave_2.hip
Presets/Autosave_3.hip
Presets/Autosave_4.hip
Presets/Autosave_5.hip
*.aif
*.sfz
*.xml
*.hr4
*.exs
Quetzalcoatl/Presets/Autosave_5.hip
Quetzalcoatl/Presets/Autosave_4.hip
Quetzalcoatl/Presets/Autosave_3.hip
Quetzalcoatl/Presets/Autosave_2.hip
Quetzalcoatl/Presets/Autosave_1.hip
Quetzalcoatl/SampleMaps/1 - AM/2NAM-1.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-2.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-3.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-4.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-5.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-6.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-7.xml
Quetzalcoatl/SampleMaps/1 - AM/2NAM-8.xml
Quetzalcoatl/SampleMaps/1 - AM/AM1.xml
Quetzalcoatl/SampleMaps/1 - AM/AM2.xml
Quetzalcoatl/SampleMaps/1 - AM/AM3.xml
Quetzalcoatl/SampleMaps/1 - AM/AM4.xml
Quetzalcoatl/SampleMaps/1 - AM/AM5.xml
Quetzalcoatl/SampleMaps/1 - AM/AM6.xml
Quetzalcoatl/SampleMaps/1 - AM/AM7.xml
Quetzalcoatl/SampleMaps/1 - AM/AM8.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS1.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS2.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS3.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS4.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS5.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS6.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS7.xml
Quetzalcoatl/SampleMaps/7 - Noise/CBS8.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP1.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP2.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP3.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP4.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP5.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP6.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP7.xml
Quetzalcoatl/SampleMaps/7 - Noise/Cy2OP8.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM1.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM2.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM3.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM4.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM5.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM6.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM7.xml
Quetzalcoatl/SampleMaps/7 - Noise/FMAM8.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise1.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise2.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise3.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise4.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise5.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise6.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise7.xml
Quetzalcoatl/SampleMaps/7 - Noise/SqrNoise8.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod1.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod2.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod3.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod4.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod5.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod6.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod7.xml
Quetzalcoatl/SampleMaps/7 - Noise/xMod8.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB1.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB2.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB3.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB4.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB5.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB6.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB7.xml
Quetzalcoatl/SampleMaps/7 - Noise/xModB8.xml
Quetzalcoatl/Presets/Autosave_5.hip
